<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/unit/</directory>
        </testsuite>
        <!-- <testsuite name="integration">
            <directory suffix="Test.php">./tests/integration/</directory>
        </testsuite> -->
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./lib/CssCrush/</directory>
        </whitelist>
    </filter>
</phpunit>
