/*$!

Prepend.css contains library variables by default, but it could also contain reset styles such as reset.css or normalize.css that you would want prepended to every output file.

*/

@define {

	/* Font stacks
	---------------------------------------- */

	/* Serif */
	baskerville:    Baskerville, Times, "Times New Roman", serif;
	georgia:        Georgia, Times, "Times New Roman", serif;
	palatino:       Palatino, "Palatino Linotype", "Hoefler Text", serif;
	times:          Times, "Times New Roman", serif;
	serif:          $( times );

	/* Sans-serif */
	arial:          Arial, "Arial Unicode MS", Helvetica, sans-serif;
	gill-sans:      "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
	helvetica:      "Helvetica Neue", Helvetica, Arial, sans-serif;
	lucida:         "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Verdana, sans-serif;
	trebuchet-ms:   "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	verdana:        Verdana, Tahoma, Arial, sans-serif;
	sans-serif:     $( arial );

	/* Monospace    */
	consolas:       Consolas, "Lucida Console", Monaco, "Courier New", Courier, monospace;
	courier:        "Courier New", Courier, monospace;
	monaco:         Monaco, "Courier New", Courier, monospace;
	monospace:      $( courier );

}




